<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block header %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    {% endblock %}
    
    {% include 'stocks/_styles.j2' %}
    
    {% block css %}{% endblock %}
    
    <title>{% block title %}StockBasket - Portfolio Manager{% endblock %}</title>
</head>
<body>
    {% include 'stocks/_header.j2' %}

    {% block content %}
    {% endblock %}
    
    {% include 'stocks/_footer.j2' %}
    
    <!-- Language Switcher -->
    {% include 'stocks/_language_switcher.j2' %}
    
    <!-- Chat Widget -->
    {% include 'stocks/_chat_widget.j2' %}
    
    {% include 'stocks/_scripts.j2' %}
    
    {% block javascript %}{% endblock %}
</body>
</html>